<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method = 'get' action = '/hello'>
        <input type = 'text' name = 'coder' />
        <div class=\"dropdown-content\">
            <select name=\"language\" id=\"language\">
                <option value=\"english\">english</option>
                <option value=\"french\">french</option>
            </select>
        </div>
        <input type = 'submit' value = 'Greet Me!' />
    </form>
</body>
</html>